{% extends 'layout.html' %}

{% block head %}
    
    <title>DBMS</title>
{% endblock head %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Student Management System</a>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Modify student</h1>
                <p>Fill in the details accordingly</p>
            </div>
        </div>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/courses">Course Menu</a></li>
    <li class="active">Modify</li>
</ul>

        <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="panel panel-default">
            		<div class="panel-heading"><h4>Form</h4></div>
  					<div class="panel-body">
  					<form name = "myform" onsubmit = "return validateForm()" class="form-horizontal" role="form" method="post" action="/cu_form/{{y.courseid}}">
            {%if flag == 1%}
            <p>Gender can only be M or F</p>
            {%elif flag == 2%}
            <p>Phone number should be of 10 digits</p>
            {%elif flag == 3%}
            <p>Branch can only be COE, ME or ECE</p>
            {%elif flag == 4%}
            <p>Programme can only be PG/UG</p>
            {%elif flag == 5%}
            <p>Sems for UG can be at max 8, and for UG, at max 2</p>
            {%elif flag == 6%}
            <p>Roll No not allotted</p>
            {%elif flag == 99%}
            <p>Updated Successfully</p>
            {%endif%}
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Name:</label>
              <div class="col-sm-10">
                <input class="form-control" name="name" placeholder="Enter name" value = "{{y.name}}" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">CourseID:</label>
              <div class="col-sm-10">
                <input class="form-control" name="courseid" placeholder="Enter the courseid" value = "{{y.courseid}}" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Credits:</label>
              <div class="col-sm-10">
                <input class="form-control" name="credits" placeholder="Enter credits alotted" value = "{{y.credits}}" required>
              </div>
            </div>

           
            
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
  					</div>
				</div>
            </div>
         </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock content %}

{% block js %}
<script>
function validateForm() {
    var x = document.forms["myform"]["credits"].value;
    console.log(x)
    if (Number(x) > 4 || Number(x) <=0 ){
        alert("Credits must be between 1 - 4");
        return false;
    }
}
</script>
{%endblock js %}