{% extends 'layout.html' %}

{% block head %}
    
    <title>DBMS</title>
{% endblock head %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Student Management System</a>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Relations Table</h1>
                <p>Tabular View</p>
            </div>
        </div>

        <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/relations">Relations Menu</a></li>
    <li class="active">Relations Table</li>
</ul>

        <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="panel panel-default">
            		<div class="panel-heading"><h4>Table</h4></div>
  					<div class="panel-body">
  					<table class="table">
                    <thead>
                      <tr>
                        <th><center>Roll No.</center></th>
                        <th><center>Co_alloc ID</center></th>
                        <th><center>DoR</center></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in x%}
                    <tr>
                        <td><center>{{i['rollno']}}</center></td>
                        <td>{{i['co_alloc_id']}}</td>
                        <td>{{i['dor']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
  					</div>
				</div>
            </div>
         </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock content %}
