{% extends 'layout.html' %}

{% block head %}
    
    <title>DBMS</title>
{% endblock head %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Student Management System</a>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Add a student</h1>
                <p>Fill in the details accordingly</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="panel panel-default">
            		<div class="panel-heading"><h4>Form</h4></div>
  					<div class="panel-body">
  					<form name = "myform" onsubmit = "return validateForm()" class="form-horizontal" role="form" method="post" onsubmit = "return validateForm()" action="/s_add">
            {%if flag == 1%}
            <p>Gender can only be M or F</p>
            {%elif flag == 2%}
            <p>Phone number should be of 10 digits</p>
            {%elif flag == 3%}
            <p>Branch can only be COE, ME or ECE</p>
            {%elif flag == 4%}
            <p>Programme can only be PG/UG</p>
            {%elif flag == 5%}
            <p>Sems for UG can be at max 8, and for UG, at max 2</p>
            {%elif flag == 6%}
            <p>Course ID already allotted</p>
            {%elif flag == 99%}
            <p>Added Successfully</p>
            {%endif%}
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Name:</label>
              <div class="col-sm-10">
                <input class="form-control" name="name" placeholder="Enter name" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Roll-No:</label>
              <div class="col-sm-10">
                <input class="form-control" name="rollno" placeholder="Enter the roll no." required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">DOB:</label>
              <div class="col-sm-10">
                <input class="form-control" name="dob" placeholder="Enter date of birth" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Sex:</label>
              <div class="col-sm-10">
                <input class="form-control" name="sex" placeholder="Enter sex of the student (M/F)" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Address:</label>
              <div class="col-sm-10">
                <input class="form-control" name="address" placeholder="Enter address" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Phone No.:</label>
              <div class="col-sm-10">
                <input class="form-control" name="phone" placeholder="Enter phone no." required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Branch:</label>
              <div class="col-sm-10">
                <input class="form-control" name="branch" placeholder="Enter branch (COE/ME/ECE)" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Programme Type:</label>
              <div class="col-sm-10">
                <input class="form-control" name="type" placeholder="Enter programme type (PG/UG)" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Semester:</label>
              <div class="col-sm-10">
                <input class="form-control" name="sem" placeholder="Enter current semester." required>
              </div>
            </div>

            
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
  					</div>
				</div>
            </div>
         </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock content %}

{% block js %}
<script>
function validateForm() {
    var x = document.forms["myform"]["sex"].value;
    console.log(x)
    if (x == 'M' || x =='F' ){}
    else {
        alert("Sex must be M/F");
        return false;
    }
    x = document.forms["myform"]["phone"].value;
    if (x.length != 10  || (!$.isNumeric(x)) ){
        alert("Phone Number should be of 10 numeric digits");
        return false;
    }
    x = document.forms["myform"]["branch"].value;
    if ($.inArray(x, ['COE', 'ME', 'ECE']) == -1) {
    alert("Branch can only be COE, ME or ECE");
        return false;
    }
    x = document.forms["myform"]["type"].value;
    if ($.inArray(x, ['PG','UG']) == -1) {
    alert("Programme Type can only be PG/UG");
        return false;
    }

    var y = document.forms["myform"]["type"].value;
    x = document.forms["myform"]["sem"].value;

    if((!$.isNumeric(x)) ){
    alert("Sem should be a number");
      return false;
    }
    if(y == 'PG')
    {
      if(Number(x)>2 || Number(x)<=0)
      {
        alert("PG Sem should be less than 2");
        return false;
      }
    }
    if(y == 'UG')
    {
      if(Number(x)>8 || Number(x)<=0)
      {
        alert("UG Sem should be less than 8");
        return false;
      }
    }
}
</script>
{%endblock js %}
