{% extends 'layout.html' %}

{% block head %}
    
    <title>DBMS</title>
{% endblock head %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Student Management System</a>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Student Menu</h1>
                <p>Options to manipulate student records</p>
            </div>
        </div>
        <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Student Menu</li>
</ul>
        <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="panel panel-default">
            		<div class="panel-heading"><h4>Options</h4></div>
  					<div class="panel-body">
  					<a href = '/s_add' class="btn btn-primary btn-block"><h4>Add a Student</h4></a>
  					<a href = '/s_del' class="btn btn-primary btn-block"><h4>Delete a Student</h4></a>
  					<a href = '/s_upd' class="btn btn-primary btn-block"><h4>Modify a Student Record</h4></a>
  					<a href = '/s_all' class="btn btn-primary btn-block"><h4>Display the Student Table</h4></a>

  					</div>
				</div>
            </div>
         </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock content %}
